html {
      background-color: #DDBEAA;
      height: 100vh;
}

body {
      height: 100vh;
      margin: 0;
}

.main-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.exercise-list {
  font-size: 18px;
}

a.link1 {
  color: #f90476; 
}

a.link2 {
  color: #a20a8e;
}

a.link3 {
  color: #fc84ec;
}

a:hover {
  text-decoration: underline;
}